{% include header.html %}

	<body>
		{% include logo.html %}
		<div id="wrapper">
			<div id="content">
				<a target="_blank" style="float:right;margin-top:15px" href="http://twitter.com/share?url=http://mythicalprogrammer.github.io{{ page.url }}&via=mythicalprogrammer&text={{ page.title }}"><span class="balloon">retweet</span></a>
				<h2>{{ page.title }}</h2>
				<div class="cnt">
					{{ content }}
					<br />
					--EOF--
				</div>
				<div id="disqus_thread"></div>
				{% include disqus.html %}
			</div>
			
			<div id="footer">
				{% include footer.html %}
			</div>
		</div>
	</body>
</html>

